In [1]:
from keras.preprocessing import text,sequence

In [3]:
import pandas as pd
import numpy as np
import torch.nn as nn
from torch.nn import functional as F
from torch import optim

In [5]:
!ls ../data

sample_submission.csv  test.csv  test_min.csv  train.csv  train_min.csv

In [6]:
trn = '../data/train_min.csv'
tst = '../data/test_min.csv'

In [7]:
trn = pd.read_csv(trn)

In [8]:
trn.head(2)

      id  target  ... identity_annotator_count  toxicity_annotator_count
0  59848     0.0  ...                        0                         4
1  59849     0.0  ...                        0                         4

[2 rows x 45 columns]

In [9]:
tst = pd.read_csv(tst)

In [11]:
tst.head(2)

        id                                       comment_text
0  7000000  Jeff Sessions is another one of Trump's Orwell...
1  7000001  I actually inspected the infrastructure on Gra...

In [46]:
tokenizer = text.Tokenizer()

In [47]:
tokenizer.fit_on_texts(['hello world!!, hw r u'])# hw r u','is this the game day','rain over me','mashalla boys played well'])

In [48]:
tokenizer.index_word

{1: 'hello', 2: 'world', 3: 'hw', 4: 'r', 5: 'u'}

In [49]:
tokenizer.word_index

{'hello': 1, 'world': 2, 'hw': 3, 'r': 4, 'u': 5}

In [55]:
a = tokenizer.texts_to_sequences(['hello world hw','world hello']);
a

[[1, 2, 3], [2, 1]]

In [57]:
sequence.pad_sequences(a)

array([[1, 2, 3],
       [0, 2, 1]], dtype=int32)